@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}
.icon {
  text-align: center;
  font-size: 55px;
  margin-top: 30px;
}
.heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
  color: black;
}
.form-container {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  word-spacing: 0.2rem;
  font-weight: 700;
  /* margin-top: 40px; */
}
.hh {
  margin-bottom: 12px;
}
.itype {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgb(209, 202, 202);
}
.mnb {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  font-weight: 700;
}
.container-two {
  display: flex;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 40px;
  border: 1px solid rgb(187, 171, 171);
}
.container-two > a:hover {
  border-bottom: 1px solid blue;
}

.container-three {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 5px;
  justify-content: space-around;
}
.container-three > a:hover {
  border-bottom: 1px solid blue;
}
.oo {
  color: black;
}
.container-three > .oo:hover {
  color: blue;
}

@media screen and (max-width: 600px) {
  .icon {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
  }
  .heading {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    color: black;
  }
  .container-two {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-three {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}
